@import '_variables';
@import '_index';

* {
    box-sizing: border-box;
    font-size: 2.3vh;
    font-family: 'Lato', sans-serif;
}

.maincontainer {  
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar heading heading heading"
      "sidebar displayContainer displayContainer displayContainer"
      "sidebar displayContainer displayContainer displayContainer"
      "sidebar displayContainer displayContainer displayContainer"
      "sidebar displayContainer displayContainer displayContainer"
      "sidebar displayContainer displayContainer displayContainer";
  }
  
.heading { 
    border: 1px solid black;
    grid-area: heading; 
    height: 100%;

    h1 {
        padding: 2%;
        text-align: end;
        font-size: 5vh;
        font-family: 'Lobster', sans-serif;
    }
}
  
.sidebar { 
    border: 1px solid black;
    grid-area: sidebar; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    
    .optionsForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10%;

        input {
           margin: 5%;
        }

        #city {
            width: 120%;
        }
        
    }

    .submitWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        button {
            width: 75%;
        }
    }
}
  
.displayContainer { 
    border: 1px solid black;
    grid-area: displayContainer; 
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

    .eventCard {
        height: 50%;
        width: 25%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        margin: 1%;

        .info {
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid black;
            padding: 15%;

            span {
                font-weight: bold;
            }
        }

        .buttonWrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                height: 40px;
                width: 40px;
                margin: 1%;
                border-radius: 50%;
                border-style: none;
                background-color: red;
            }

            button:hover {
                background-color: darkred;
            }
        }

    }

}

